<div class="x-widget-timeline">
  <div class="row" style="padding:5px 7px;">
  <div class="panel panel-primary">
      <div class="panel-body" style="padding:5px!important; background-color: #33414e;">
        <div class="x-widget-timelime-head">
            <h3>Budget vs Expenses</h3>
        </div>
        <%= content_tag :div," ",id: "monthlyexpensesreport", data: {overallsummarymonths: report_months_data,monthlyexpenses: report_expenses_data}%>

      </div>
      <div class="panel-body list-group">
          <table style="width: 100%;">
            <tr>
              <td style="padding: 10px 0px 10px 15px;width: 35%;line-height: 20px;border-top: 1px solid #E5E5E5;border-bottom: 1px solid #E5E5E5;"></td>
              <td style="text-align:center;padding: 10px 0px;width: 30%;line-height: 20px;border-top: 1px solid #E5E5E5;border-bottom: 1px solid #E5E5E5;">YTD</td>
              <td style="text-align:center;padding: 10px 15px 10px 0px;width: 35%;line-height: 20px;border-top: 1px solid #E5E5E5;border-bottom: 1px solid #E5E5E5;">Yearly</td>
            </tr>
            <tr>
              <td style="padding: 10px 0px 10px 15px;width: 35%;line-height: 20px;border-bottom: 1px solid #E5E5E5;"><span class="fa fa-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Budget</td>
              <td style="text-align:right;padding: 10px 0px;width: 30%;line-height: 20px;border-bottom: 1px solid #E5E5E5;">$350000</td>
              <td style="text-align:right;padding: 10px 15px 10px 0px;width: 35%;line-height: 20px;border-bottom: 1px solid #E5E5E5;">$350000</td>
            </tr>
            <tr>
              <td style="padding: 10px 0px 10px 15px;width: 35%;line-height: 20px;border-bottom: 1px solid #E5E5E5;"><span class="fa fa-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Savings</td>
              <td style="text-align:right;padding: 10px 0px;width: 30%;line-height: 20px;border-bottom: 1px solid #E5E5E5;">$35000</td>
              <td style="text-align:right;padding: 10px 15px 10px 0px;width: 35%;line-height: 20px;border-bottom: 1px solid #E5E5E5;">$35000</td>
            </tr>
            <tr>
              <td style="padding: 10px 0px 10px 15px;width: 35%;line-height: 20px;border-bottom: 1px solid #E5E5E5;"><span class="fa fa-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Expenses</td>
              <td style="text-align:right;padding: 10px 0px;width: 30%;line-height: 20px;border-bottom: 1px solid #E5E5E5;">$35000</td>
              <td style="text-align:right;padding: 10px 15px 10px 0px;width: 35%;line-height: 20px;border-bottom: 1px solid #E5E5E5;">$35000</td>
            </tr>
            <tr>
              <td style="padding: 10px 0px 10px 15px;width: 35%;line-height: 20px;border-bottom: 1px solid #E5E5E5;"><span class="fa fa-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Variance</td>
              <td style="text-align:right;padding: 10px 0px;width: 30%;line-height: 20px;border-bottom: 1px solid #E5E5E5;">$35000</td>
              <td style="text-align:right;padding: 10px 15px 10px 0px;width: 35%;line-height: 20px;border-bottom: 1px solid #E5E5E5;">$35000</td>
            </tr>
          </table>
      </div>
  </div>
</div>
</div>
