<div class="x-widget-timeline" style="padding-top: 0px!important;">
  <div class="x-widget-timelime-head">
      <h3>Savings Goals</h3>
  </div>
  <div class="x-widget-timeline-content">
    <%= content_tag :div," ",id: "goalspiechartdashboard", data: {goalspiechartdatadashboard: goals_pie_chart_data}%>
  </div>
</div>
