<div class="x-widget-timeline" style="padding-top: 0px!important;">
  <div class="row" style="padding:5px 7px;">
    <div class="panel panel-primary">
      <div class="panel-body" style="padding:5px!important; background-color: #33414e;">
        <div class="x-widget-timelime-head">
          <h3>Savings Goals</h3>
        </div>
        <%= content_tag :div," ",id: "goalspiechartdashboard", data: {goalspiechartdatadashboard: goals_pie_chart_data}%>
      </div>
    </div>
  </div>
</div>
