<div class="x-chart-widget">
    <div class="x-chart-widget-content">
        <div class="x-chart-widget-content-head">
            <h4>SUMMARY</h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="x-chart-widget-informer">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="x-chart-widget-informer-item">
                                <div class="count">223<span>34% <i class="fa fa-arrow-up"></i></span></div>
                                <div class="title">Views of your profile</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="x-chart-widget-informer-item">
                                <div class="count">190<span>17% <i class="fa fa-arrow-up"></i></span></div>
                                <div class="title">Views of your works</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="x-chart-widget-informer-item">
                                <div class="count">223<span class="negative">22% <i class="fa fa-arrow-down"></i></span></div>
                                <div class="title">Likes</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="x-chart-widget-informer-item last">
                                <div class="count">160<span>3% <i class="fa fa-arrow-up"></i></span></div>
                                <div class="title">Comments</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="buttons-panel">
                    <button class="btn btn-primary">TODAY: 14 SEP.2015 <span class="fa fa-angle-down" style="margin-right: -5px; margin-left: 5px; color: #94ABBA;"></span></button>
                    <span class="clearfix"></span>
                    <div class="btn-group">
                        <button class="btn btn-primary">DAY</button>
                        <button class="btn btn-primary active">WEEK</button>
                        <button class="btn btn-primary">MONTH</button>
                        <button class="btn btn-primary">YEAR</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="x-chart-holder">
            <div id="x-dashboard-line-dark" style="height: 400px;"></div>
        </div>
    </div>
</div>
