<div class="x-chart-widget">
    <div class="x-chart-widget-content">
        
        <div>
            <div id="x-dashboard-line-dark">
              <%= content_tag :div," ",id: "summaryreport", data: {overallsummarymonths: report_months_data,overallsummaryincomes: overall_summary_report_incomes_data,overallsummaryexpenses: overall_summary_report_expenses_data,overallsummarysavings: overall_summary_report_savings_data}%>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="x-chart-widget-informer">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="x-chart-widget-informer-item">
                                <div class="count">223<span>34% <i class="fa fa-arrow-up"></i></span></div>
                                <div class="title">Views of your profile</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="x-chart-widget-informer-item">
                                <div class="count">190<span>17% <i class="fa fa-arrow-up"></i></span></div>
                                <div class="title">Views of your works</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="x-chart-widget-informer-item">
                                <div class="count">223<span class="negative">22% <i class="fa fa-arrow-down"></i></span></div>
                                <div class="title">Likes</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="x-chart-widget-informer-item last">
                                <div class="count">160<span>3% <i class="fa fa-arrow-up"></i></span></div>
                                <div class="title">Comments</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
