<div class="content-frame-right" style="height: 786px;">
  <div class="">
    <h4>Houses Description</h4>
  </div>
  <div class="">
    <p>Categories are used to put expenses in buckets for identifying spending patterns.</p>
    <p>Mandatory categories which are budgeted are used to create recurring budget categories for every month to which transactions or expenses are associated. This helps define a budget for the month. The following provides some information regarding the various elements required to create a Category.</p>
    <p>
      <ul>
        <li>Name: The name to uniquely identify the category</li>
        <li>Budget: The amount budgeted for every month. Can be zero.</li>
        <li>Master Category: The parent classification bucket.</li>
        <li>Mandatory: If mandatory, the category is displayed along with the budget in either of the three display categories defined below</li>
        <li>Budgeted: To be displayed in the budgeted list</li>
        <li>Misc: To be displayed in the Miscellaneous list</li>
        <li>Savings: To be displayed in the savings list</li>
      </ul>
    </p>
  </div>
</div>
