<!-- Modal -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="newTaskModalLabel"><span class="fa fa-tasks"></span> New Task</h4>
      </div>

      <div class="modal-body">
        <%= render 'form' %>
      <div class="modal-footer">
		      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
<script>
$(function() {
    $( ".datepicker").datepicker({format: 'dd-mm-yyyy' });
  });
</script>
