<div id="goal_account_details">
  <hr>
  <div class="form-group">
      <%= label_tag :current_balance_towards_goal, nil, {class: "col-md-3 col-xs-12 control-label"}%>
      <div class="col-md-6 col-xs-12">
          <input type="text" id="ise_current_balance_towards_goal" name="goal[current_balance_towards_goal]" value="" />
          <span class="help-block">How much of the ucrrent balance should count towards this goal?</span>
      </div>
  </div>

  <div class="form-group">
      <%= label_tag :percentage_towards_goal, nil,{class: "col-md-3 col-xs-12 control-label"}%>
      <div class="col-md-6 col-xs-12">
          <input type="text" id="ise_percentage_towards_goal" name="goal[percentage_towards_goal]" value="" />
          <span class="help-block">What percent of future transactions should contribute towards this goal?</span>
      </div>
  </div>

  <script>
  $(function(){

      //Min Max Value
      $("#ise_percentage_towards_goal").ionRangeSlider({
          min: 0,
          max: 100,
          from: 50,
          postfix: "%"
      });
      $("#ise_current_balance_towards_goal").ionRangeSlider({
          min: 0,
          max: <%=@account.balance%>,
          from: 0,
          grid: true,
          prefix: "$"
      });
      //End Min Max Value
    });
  </script>
</div>
