<div class="content-frame-right" style="height: 786px;">
  <div class="">
    <h4>Category Description</h4>
  </div>
  <div class="">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam bibendum erat eget libero pretium, vestibulum egestas metus pretium. Nam non ipsum diam. Phasellus augue neque, cursus mollis tincidunt a, viverra eget nisl. Nunc luctus scelerisque viverra. Quisque molestie cursus augue, ut porttitor massa tempus eu. Curabitur sit amet facilisis arcu. Aenean dictum dictum dignissim. Sed mollis, nisl at ullamcorper consectetur, turpis leo volutpat metus, quis iaculis nibh magna ut lectus. Donec tristique volutpat pharetra. Fusce quis sem in dui bibendum egestas. Fusce euismod venenatis fermentum. Aenean non lobortis magna. Sed placerat finibus elementum. Aliquam a pretium nulla. Aliquam at pretium nulla.</p>
    <p>Nulla ullamcorper, velit ac molestie molestie, ex turpis vehicula magna, in porta nisl massa at nulla. In a nulla eu nibh mattis volutpat. Cras auctor congue ligula, eu porta nisl. Nunc tempus nunc quis enim ullamcorper egestas. Donec molestie luctus est. In sit amet nulla nunc. Duis ac fringilla quam. Integer ac ante non felis imperdiet elementum viverra vitae enim. Nulla sed magna cursus, ultrices metus eget, convallis quam. Ut ut placerat purus. Sed porta id neque sit amet venenatis.</p>
  </div>
</div>
