<!-- Modal -->
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="newTransactionModalLabel">View Income Split</h4>
		</div>

		<%unless @income_splits.nil? || @income_splits.count < 1%>
			<%=render 'show_income_splits'%>
		<%else%>
			<%=render 'generate_income_splits'%>
		<%end%>

		<!-- Start Modal Footer -->
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
		<!-- End Modal Footer -->
	</div>
</div>
<script>
$(function() {
    $( ".datepicker").datepicker({dateFormat: 'dd-mm-yy' });
  });

$(function() {
  $('#new-budgeted-transaction-button').click(function(event){
    $('#new-budgeted-transaction-row').slideDown(1000);
  });
});
</script>
