<!-- START ALERTS -->
<%=render 'layouts/alerts'-%>
<!-- END ALERTS -->
<%@categoriesreportdata =  categories_report_as_percentage%>
<div class="content-frame">

  <div class="content-frame-right" style="background: #2D3945;color: #94ABBA;">
    <div class="">
      <table class="" style="width:100%;">
        <thead style="border-bottom: 1px solid #555;">
          <th style="line-height: 20px;padding:5px;">Category</th>
          <th style="line-height: 20px;text-align:right;">Spend</th>
        </thead>
        <%@top_categories.each do |category|%>
          <tr>
            <td style="line-height: 20px;padding:5px;"><span class="item"></span>&nbsp;<span class="xn-text"><%=category.name%></span></td>
            <td style="line-height: 20px;text-align:right;"><%=number_to_currency(category.total_expense,precision: 2)%></td>
          </tr>
        <%end%>
      </table>
    </div>
  </div>


  <div class="content-frame-body content-frame-body-left" style="padding-top: 10px;">
    <h2><span class="fa fa-money"></span> Category Report</h2>

    <%= content_tag :div," ",id: "categoriesreportpiechart", data: {categoriesreportdata: @categoriesreportdata}%>
  </div>

</div>
