<ul class="x-navigation x-navigation-horizontal x-navigation-panel x-navigation-container">
    <!-- TOGGLE NAVIGATION -->
    <li class="xn-icon-button">
        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
    </li>
    <!-- END TOGGLE NAVIGATION -->
    <!-- SEARCH -->
    <li class="xn-search">
      <%=form_tag search_path(budget_id: @budget.nil? ? nil : @budget.id) do%>
        <%=text_field_tag :tag,nil,'placeholder'=>"Search..."%>
      <%end%>
    </li>
    <!-- END SEARCH -->
    <%=render 'layouts/top_navigation_menu'-%>

</ul>
